{% extends 'layouts/base.html' %} {% block content %}
<h1>About</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, molestias!
  Rerum possimus quaerat id consectetur, nisi amet commodi deserunt in nobis
  iusto sint accusantium consequuntur inventore quis! Qui a reprehenderit vero
  facilis est numquam porro aliquid magni, animi blanditiis ab harum at laborum,
  error aliquam placeat non ullam voluptatum facere?
</p>

<p>Website created by {{ username }}</p>
{% endblock content %}
